<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANALIZER</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Inicio</a>
                    <a href="#">dados</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <p>Dashboards vao aqui</p>
    </main>
    <footer>
        <p>© 2025 Minha Página</p>
    </footer>
</body>
</html>